  <div class="jumbotron">
    <h1 class="title">斯塔克工业</h1>
    <p class="slogan">斯塔克工业是全球顶尖的前沿科技公司。
    <br />
    我们制造的先进武器以及防御系统已经保护了地球亿万人的生命安全。
    <br />
    现诚邀全世界对前沿科技领域有兴趣的英才加入我们。
    <br />
     你还在等什么！
    </p>

    <div class="row">
        <div class="col-md-2 cta-button">
            <%= link_to("立刻加入", jobs_path, :class => "btn btn-lg btn-block btn-primary")%>
        </div>
    </div>
 </div>
